.container {
    width: 100%;
    height: 53px;
    background: white;
    border-bottom: .1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* .box {
    width: 37%;
    height: 53px;
    display: flex;
    align-items: center;
} */